# Commons #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
.ipynb_checkpoints
/*.egg-info
/dist
/build

#### python
__pycache__

#### additional
/pypi_release.sh
